@font-face {
    font: {
        family: "Roboto";
        weight: 300;
        style: normal;
    }
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Roboto";
        weight: 400;
        style: normal;
    }
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Roboto";
        weight: 500;
        style: normal;
    }
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Anton";
        weight: 400;
        style: normal;
    }
    src: url("../fonts/Anton-Regular.ttf") format("truetype");
}