@use "mixins" as mixins;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-discord: "\e900";
$icon-teamspeak: "\e901";
$icon-coin-dollar: "\e93b";
$icon-users: "\e972";
$icon-lab: "\e9aa";
$icon-arrow-right: "\ea34";
$icon-arrow-down: "\ea36";
$icon-arrow-left: "\ea38";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-youtube: "\ea9d";

.icon {
    &::before {
        font: {
            size: var(--font-size-large);
        }
    }
}

.teamspeak {
    &::before {
        @include mixins.icon($icon-teamspeak);
    }
}

.flask {
    &::before {
        @include mixins.icon($icon-lab);
    }
}

.facebook {
    &::before {
        @include mixins.icon($icon-facebook);
    }
}

.discord {
    &::before {
        @include mixins.icon($icon-discord);
    }
}



.instagram {
    &::before {
        @include mixins.icon($icon-instagram);
    }
}

.youtube {
    &::before {
        @include mixins.icon($icon-youtube);
    }
}

.arrow-right {
    &:before {
        @include mixins.icon($icon-arrow-right);
    }
}
.arrow-down {
    &:before {
        @include mixins.icon($icon-arrow-down);
    }
}
.arrow-left {
    &:before {
        @include mixins.icon($icon-arrow-left);
    }
}
.circle-right {
    &:before {
        @include mixins.icon($icon-circle-right);
    }
}
.circle-left {
    &:before {
        @include mixins.icon($icon-circle-left);
    }
}