@use "mixins" as mixins;
@use "icons" as icons;


.main-nav {
    width: 100vw;
    max: {
        width: var(--content-max-width);
    }
    position: fixed;
    z-index: 9999;
    height: var(--menu-height);
    top: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, 0);
    background: {
        color: black;
    }
    transition: transform 0.2s ease-out;
    &.hidden {
        transform: translate(-50%, -100%);
    }
    .section-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .logo {
        display: block;
        background: {
            image: url("../assets/logo.png");
            size: cover;
            position: center center;
        }
        aspect-ratio: 8376 / 4227;
        width: 100px;
    }
    ul {
        @include mixins.rest-list();
        height: 100%;
        display: flex;
        li {
            height: 100%;
        }
        a {
            display: flex;
            align-items: center;
            height: 100%;
            padding: {
                right: var(--spacing-default);
                left: var(--spacing-default);
            }
            color: white;
            border: {
                bottom: 2px solid transparent;
            }
            transition: border-color 0.2s ease-out;
            font: {
                size: var(--font-size-medium);
            }
            &::before {
                content: unset;
            }
            &:hover,
            &.active {
                border: {
                    bottom: {
                        color: white;
                    }
                }
            }
        }
    }
    .online-counter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: {
            width: 2px;
            style: solid;
            color: var(--cta-color-2);
            radius: var(--border-radius);
        }
        padding: {
            top: var(--spacing-small);
            right: var(--spacing-default);
            bottom: var(--spacing-small);
            left: var(--spacing-default);
        }
        &::before {
            @include mixins.icon(icons.$icon-users);
            margin: {
                right: var(--spacing-small);
            }
        }
        .text {
            text-transform: uppercase;
            margin: {
                right: var(--spacing-large);
            }
        }
        .number {
            @include mixins.text-shadow();
            line-height: 1;
            font: {
                family: var(--font-family-headline);
                size: var(--spacing-large);
            }
        }
    }
}