section,
.section {
    max: {
        width: var(--content-max-width);
    }
    padding: {
        top: var(--spacing-large);
        bottom: var(--spacing-large);
    }
    margin: {
        right: auto;
        left: auto;
    }
}

.section-wrapper {
    margin: {
        right: auto;
        left: auto;
    }
    max: {
        width: var(--section-max-width);
    }
    padding: {
        right: var(--spacing-default);
        left: var(--spacing-default);
    }
}