.stage {
    aspect-ratio: 1366/600;
    background: {
        image: url("../assets/4.jpg");
        repeat: no-repeat;
        position: top;
        size: cover;
    }
    .claim {

    }
    .online-counter {

    }
    .arrow-next-section {

    }
}