@import "mixins";

:root {
    // Sections
    --section-max-width: 1366px;
    --content-max-width: 2560px;

    // Colors
    --cta-color-1: #285CFF;
    --cta-color-2: #F64D4D;
    --cta-color-3: #9d14d2;
    --grey-light-color: #485358;
    --grey-color: #393f41;
    --grey-dark-color: #111315;
    --grey-dark-color-15: #{rgba(#111315, 0.15)};

    // Font
    --font-family: Roboto, Arial, Helvetica, system-ui, sans-serif;
    --font-family-headline: Anton, Arial, Helvetica, system-ui, sans-serif;
    --font-size-small: 87.5%;
    --font-size-default: 100%;
    --font-size-large: 200%;
    --font-size-xlarge: 300%;
    --font-color: white;
    --font-weight-thin: 300;
    --font-weight-default: 400;
    --font-weight-bold: 500;

    // Spacings
    --spacing-small: 0.3rem;
    --spacing-default: 0.5rem;
    --spacing-large: 1rem;
    --spacing-xlarge: 2rem;

    @include breakpoint(medium) {
        --spacing-small: 0.625rem;
        --spacing-default: 1rem;
        --spacing-large: 2rem;
        --spacing-xlarge: 4rem;
    }

    // Buttons
    --button-background: transparent;
    --button-background-hover-color: white;
    --button-color: white;
    --button-hover-color: black;
    --button-border-color: var(--cta-color-2);
    --button-hover-border-color: white;
    --button-hover-transition-in: 0.3s ease-out;
    --button-hover-transition-out: 0.15s ease-out;
    --button-secondary-color: white;
    --button-secondary-border-color: white;
    --button-secondary-hover-color: white;
    --button-secondary-hover-border-color: var(--cta-color-2);

    // Links
    --link-color: var(--cta-color-1);
    --link-hover-color: var(--cta-color-2);
    --link-hover-transition: color 0.2s ease-out;

    // Feature Slider
    --feature-slider-thumbnail-transition: 0.2s ease-out;

    // Menu
    --menu-height: 80px;

    // Border
    --border-radius: 4px;

}